.Header{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    border: 1px solid green;
    background-color: lightseagreen;
}
h1{
    text-align: center;
    margin: 3% 0px 3% 0%
}
.todo{
    text-align: center;
}